---
layout: page
---

{{ content }}

<center><h1>About This Project</h1></center>

<figure style="text-align: center;">
    <img src="{{ '/assets/img/video_analytics.jpg' | relative_url }}" alt="主页图片" width="1000">
    <figcaption style="text-align: right; font-size: 0.8em; color: gray;">Image source: <a href="https://keymakr.com/blog/how-image-and-video-annotation-supports-autonomous-vehicles/" target="_blank">webpage</a></figcaption>
</figure>

<p>In this project, I would like to design a decentralized framework that leverages Peer-to-Peer (P2P) networking to enhance real-time video analytics. By distributing video processing tasks across a network of peers, the framework aims to optimize resource utilization, reduce network latency, and ensure robust task execution even in dynamic network environments. This framework is designed to be particularly suited for applications requiring low-latency event detection, collaborative video analysis, and bandwidth-efficient data distribution, making it a scalable and cost-effective solution for edge computing and video analytics in heterogeneous networks.</p>